<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지111111</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/js/header.js"defer></script>
    <script src="/js/cont1slide.js"defer></script>
    <script src="/js/sideBtn.js"defer></script>
    <script src="/js/cont2text.js"defer></script>
    <script src="/js/scroll.js"defer></script>
    <script src="/js/cont5countup.js"defer></script>
    <script src="/js/cont6slide.js"defer></script>
    
    
   
</head>
<body>
    <%- include("common/header.ejs") %>
    <div class="container">
        <div class="cont1">
            <div class="silder">
                <div class="view">
                    <% for(let i=0; i < slide.length; i++){ %>
                        <div class="turnapple">
                            <a href="#"><img src="<%- slide[i].img %>"></a>
                            <div class="slidetext">
                                <h2><%- slide[i].title %></h2>
                                <p><%- slide[i].title2 %>
                                </p>
                            </div>
                        </div>
                    <% } %>
                <div class="btns">
                    <div class="prevBtn"><i class="fa-solid fa-angle-left"></i></div>
                    <div class="nextBtn"><i class="fa-solid fa-angle-right"></i></div>
                </div>
                <ul class="circleBtn">
                    <li class="on"><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </div>
        <div class="cont2 section ">
            <div class="selec">
                <h2>TURNAPPLE MENU</h2>
            </div>
            <div class="sbcmenu">
                <ul class="menulist">
                    <li class="on"><a href="#">SIGNATURE</a></li>
                    <li><a href="#">음료</a></li>
                    <li><a href="#">음식</a></li>
                </ul>
            </div> 
            <div class="tabb">
                <div class="tabcenter">
                    <div class="leftmenu">
                        <div class="leftimage">
                            
                        </div>
                        <div class="midimage">
                            <img class="image2" src="/img/fo8.jpg">
                        </div> 
                    </div>
                    <div class="righttmenu">
                        <div class="righth">
                            <h2 class="title6">SIGNATURE</h2>
                            <p class="title7">감성과 재미를 듬뿍 담아낸 시그니쳐 메뉴
                            </p>
                            <div class="rightimage">
                                <div class="juice">
                                    <img class="image3" src="/img/food4.jpg">
                                </div>
                                <div class="juice">
                                    <img class="image4" src="/img/food5.jpg">
                                </div>
                                <div class="juice">
                                    <img class="image5" src="/img/food6.jpg">
                                </div>
                            </div>
                            <div class="texttoping">
                                <h2>추천 토핑류</h2>
                            </div>
                            <div class="milk">
                                <div class="milkimage">
                                    <img class="image6" src="/img/q8.jpg">
                                    <h2 class="title3">시럽 바닐라</h2>
                                </div>
                                <div class="milkimage">
                                    <img class="image7" src="/img/q17.jpg">
                                    <h2 class="title4">시럽 카라멜</h2>    
                                </div>
                                <div class="milkimage">
                                    <img class="image8" src="/img/q10.jpg">
                                    <h2 class="title5">크림 카라멜</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="cont3 section">
            <div class="center2">
                <div class="bg">
                    <div class="black_bg2"></div>
                    <div class="coffe">
                        <a><img src=""></a>
                    </div>
                    <div class="whowe">
                        <p class="cris">크리스마스를 더욱 특별하게 만들어 줄 원두<br>
                        </p>
                        <h2 >크리스마스 블렌드</h2>
                        <p class="cris2">신선한 라틴아메리카 원두에 풍부한 인도네시아 원두와<br>
                           숙성 수마트라 원두가 블렌딩된 시즌 한정 원두를 만나보세요 
                        </p>
                        <div class="about">
                            <a href="#">자세히보기</a>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="cont4 section">
        </div>
        <div class="cont5 ">
            <div class="center">
                <div class="left">
                    <div class="texts">
                        <div class="text">
                            <h2>턴플 커피에서 커피와 기브를<br>
                                함께 즐기세요!
                            </h2>
                            <p>매일 마시는 커피 한 잔을 '마시기만 해도 기부'가 되는 곳이 있습니다.<br>
                            턴플 커피에서는 turnapple`S PICK을 마시기만 해도 결식아동에게 '우유 1팩'이 기부됩니다.
                            </p>
                        </div>
                        <div class="countup">
                        <!-- <div class="count">
                            <h2>결식아동에 기부돤 우유</h2>
                            <p class="pack">0</p><span class="pdds">PACK</span>
                            <p>2022.09.30기준.</p>
                        </div> -->
                        </div>
                        <div class="coffe">
                            <a href="#">자세히 보기 </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont6 ">
            <div class="center6">
                <div class="silder2">
                    <div class="view">
                        <div class="box10">
                            <img src="img/q30.jpg">
                            <h2>디카페인 카페라떼</h2>
                            <p class="envato">Caffe Latte (Decaf blend)</p>
                            <p class="lorem">듀얼브루 원액으로 만든 부드러운 풍미와 균형 잡힌 바디감의 디카페인 카페라떼<br>
                            </p>
                        </div>
                        <div class="box10">
                            <img src="img/q42.jpg">
                            <h2>자바 칩 초콜릿 아포가토</h2>
                            <p class="envato">Java Chip Chocolate Affogato</p>
                            <p class="lorem">유기농 초콜릿 아이스크림에 스타벅스의 에스프레소를 붓고 달콤한 자바칩을 토핑한 아포가토입니다.<br>
                            </p>
                        </div>
                        <div class="box10">
                            <img src="img/q43.jpg">
                            <h2>쿨 라임 피지오</h2>
                            <p class="envato">Cool Lime Starbucks Fizzio</p>
                            <p class="lorem">그린 빈 추출액이 들어간 라임 베이스에 건조된 라임 슬라이스를 넣고 스파클링한 시원하고 청량감 있는 음료입니다.<br>
                                 (카페인이 함유된 탄산음료입니다)<br>
                            </p>
                        </div>
                    </div>
                    <ul class="circleBtn2">
                        <li class="on"><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cont7">
            <div class="center">
                <div class="leftnews">
                    <h2>NEWS &<br>
                        EVENTS
                    </h2>
                    <div class="viewmore">
                        <a href="/brdlist">더보기</a>
                    </div>
                </div>
                <div class="righmenus">
                    <% for(let i = 0 ; i < insert.length; i++) { %>
                    <div class="rightnews">
                        <div class="tsdf">
                            <div class="tewd"><a href="/brddetail/<%- insert[i].num %>">
                                <div class="qwer12">
                                    <div class="sub2">EVENT</div>
                                    <div id="title"><%- insert[i].subject %></div>
                                </div>
                                <div class="sub22">
                                    <div class="qwer122">
                                        <div id="title"><%- insert[i].date %></div>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="imdsw">
                                <div class="title3"><a href="/brddetail/<%- insert[i].num %>"><img src="/upload/<%- insert[i].file %>"></a></div>
                           
                            </div>
                            <div class="gds"><a href="/brddetail/<%- insert[i].num %>">
                                <span class="material-symbols-outlined">arrow_forward</span>
                            </a>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        
    </div>
    <%- include("common/footer.ejs") %>
    
</body>
</html>